# Python
__pycache__/
*.pyc
*.pyo

# Input/output files
inputs/*
outputs/*
!inputs/.gitkeep
!inputs/*.xlsx
!outputs/.gitkeep

# Build artifacts
build/
dist/
*.spec
*.zip
Session_*.txt

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store
